/* You can add global styles to this file, and also import other style files */
.header
{
    padding: 20px;
    min-height: 100px;
}

.content
{
    padding: 10px;
    min-height: 400px;
}

a
{
    cursor: pointer;
}

.hover-cursor
{
    cursor: pointer;
}

body
{
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.headnav
{
    margin: ;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .navbar li a:hover {
    background-color: #111;
    color: floralwhite;
  }

  .blog
  {
    background: #136a8a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0px black;
  }

  .titlebar
  {
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    margin-top: 10px;
  }