USE [InterviewManagementSystem]
GO
/****** Object:  Table [dbo].[Applicant]    Script Date: 10-11-2021 17:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applicant](
	[ApplicantID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](30) NOT NULL,
	[LastName] [varchar](30) NOT NULL,
	[LastEmployer] [varchar](30) NOT NULL,
	[LastDesignation] [varchar](30) NOT NULL,
	[AppliedFor] [tinyint] NOT NULL,
	[ReferedBy] [int] NULL,
	[MedicalStatus] [varchar](100) NULL,
	[NoticePeriod] [int] NOT NULL,
	[Resume] [nvarchar](200) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBY] [int] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designation]    Script Date: 10-11-2021 17:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designation](
	[DesignationID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Designation] [varchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DesignationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interview]    Script Date: 10-11-2021 17:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interview](
	[InterviewID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantID] [int] NOT NULL,
	[InterviewRoundID] [tinyint] NOT NULL,
	[InterviewAt] [datetime] NULL,
	[Result] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InterviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterviewerReview]    Script Date: 10-11-2021 17:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewerReview](
	[InterviewerReviewID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[InterviewID] [int] NOT NULL,
	[Pros] [varchar](500) NULL,
	[Cons] [varchar](500) NULL,
	[Comments] [varchar](1000) NULL,
	[Status] [tinyint] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InterviewerReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterviewRound]    Script Date: 10-11-2021 17:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewRound](
	[InterviewRoundID] [tinyint] IDENTITY(1,1) NOT NULL,
	[RoundOrder] [tinyint] NOT NULL,
	[InterviewRoundName] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InterviewRoundID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 10-11-2021 17:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Value] [tinyint] NOT NULL,
	[Category] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[SkillID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[ParentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillRating]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillRating](
	[SkillRatingID] [int] IDENTITY(1,1) NOT NULL,
	[ReviewID] [int] NOT NULL,
	[SkillID] [int] NOT NULL,
	[RatingID] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillRatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [tinyint] IDENTITY(1,1) NOT NULL,
	[StatusType] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [tinyint] NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Applicant] ON 

INSERT [dbo].[Applicant] ([ApplicantID], [FirstName], [LastName], [LastEmployer], [LastDesignation], [AppliedFor], [ReferedBy], [MedicalStatus], [NoticePeriod], [Resume], [CreatedBy], [CreatedOn], [ModifiedBY], [ModifiedOn], [IsActive], [IsDeleted]) VALUES (1, N'Potato', N'Hazel', N'Abc Company', N'Full Stack Developer', 1, 1, NULL, 3, N'hello', 4, CAST(N'2021-09-20T00:00:00.000' AS DateTime), 5, CAST(N'2021-09-20T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[Applicant] ([ApplicantID], [FirstName], [LastName], [LastEmployer], [LastDesignation], [AppliedFor], [ReferedBy], [MedicalStatus], [NoticePeriod], [Resume], [CreatedBy], [CreatedOn], [ModifiedBY], [ModifiedOn], [IsActive], [IsDeleted]) VALUES (2, N'Brinjal', N'Helwet', N'XYZ Company', N'Senior Developer', 1, 2, NULL, 2, N'hello', 4, CAST(N'2021-09-20T00:00:00.000' AS DateTime), NULL, NULL, 1, 0)
INSERT [dbo].[Applicant] ([ApplicantID], [FirstName], [LastName], [LastEmployer], [LastDesignation], [AppliedFor], [ReferedBy], [MedicalStatus], [NoticePeriod], [Resume], [CreatedBy], [CreatedOn], [ModifiedBY], [ModifiedOn], [IsActive], [IsDeleted]) VALUES (3, N'PineApple', N'Coste', N'ASD Company', N'Junior Developer', 1, 1, NULL, 1, N'hello', 4, CAST(N'2021-09-24T00:00:00.000' AS DateTime), NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Applicant] OFF
GO
SET IDENTITY_INSERT [dbo].[Designation] ON 

INSERT [dbo].[Designation] ([DesignationID], [Designation], [IsActive]) VALUES (1, N'Full Stack Developer', 1)
INSERT [dbo].[Designation] ([DesignationID], [Designation], [IsActive]) VALUES (2, N'Integration', 1)
SET IDENTITY_INSERT [dbo].[Designation] OFF
GO
SET IDENTITY_INSERT [dbo].[Interview] ON 

INSERT [dbo].[Interview] ([InterviewID], [ApplicantID], [InterviewRoundID], [InterviewAt], [Result]) VALUES (1, 1, 1, CAST(N'2021-09-20T00:00:00.000' AS DateTime), 3)
INSERT [dbo].[Interview] ([InterviewID], [ApplicantID], [InterviewRoundID], [InterviewAt], [Result]) VALUES (2, 2, 1, CAST(N'2021-09-20T00:00:00.000' AS DateTime), 3)
INSERT [dbo].[Interview] ([InterviewID], [ApplicantID], [InterviewRoundID], [InterviewAt], [Result]) VALUES (5, 1, 3, CAST(N'2021-09-22T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Interview] OFF
GO
SET IDENTITY_INSERT [dbo].[InterviewerReview] ON 

INSERT [dbo].[InterviewerReview] ([InterviewerReviewID], [UserID], [InterviewID], [Pros], [Cons], [Comments], [Status], [IsActive]) VALUES (1, 1, 15, N'good', N'bad', N'nothing', 3, 1)
INSERT [dbo].[InterviewerReview] ([InterviewerReviewID], [UserID], [InterviewID], [Pros], [Cons], [Comments], [Status], [IsActive]) VALUES (2, 2, 15, N'good', N'bad', N'nothin', 3, 1)
INSERT [dbo].[InterviewerReview] ([InterviewerReviewID], [UserID], [InterviewID], [Pros], [Cons], [Comments], [Status], [IsActive]) VALUES (3, 3, 16, N'Very Good', N'nothing ', N'nothing', 3, 1)
SET IDENTITY_INSERT [dbo].[InterviewerReview] OFF
GO
SET IDENTITY_INSERT [dbo].[InterviewRound] ON 

INSERT [dbo].[InterviewRound] ([InterviewRoundID], [RoundOrder], [InterviewRoundName]) VALUES (1, 1, N'Profile Screening')
INSERT [dbo].[InterviewRound] ([InterviewRoundID], [RoundOrder], [InterviewRoundName]) VALUES (3, 2, N'Initial Telephonic Interview')
INSERT [dbo].[InterviewRound] ([InterviewRoundID], [RoundOrder], [InterviewRoundName]) VALUES (4, 3, N'Technical Telephonic Interview')
SET IDENTITY_INSERT [dbo].[InterviewRound] OFF
GO
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([RatingID], [Value], [Category]) VALUES (1, 1, N'Below Satisfactory')
INSERT [dbo].[Rating] ([RatingID], [Value], [Category]) VALUES (2, 2, N'Satisfactory')
INSERT [dbo].[Rating] ([RatingID], [Value], [Category]) VALUES (3, 3, N'Good')
SET IDENTITY_INSERT [dbo].[Rating] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [Type]) VALUES (1, N'Hr')
INSERT [dbo].[Role] ([RoleID], [Type]) VALUES (2, N'Interviewer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Skill] ON 

INSERT [dbo].[Skill] ([SkillID], [Name], [ParentID]) VALUES (1, N'Technical Skill', NULL)
INSERT [dbo].[Skill] ([SkillID], [Name], [ParentID]) VALUES (2, N'Soft Skill', NULL)
INSERT [dbo].[Skill] ([SkillID], [Name], [ParentID]) VALUES (3, N'Concept', 1)
SET IDENTITY_INSERT [dbo].[Skill] OFF
GO
SET IDENTITY_INSERT [dbo].[SkillRating] ON 

INSERT [dbo].[SkillRating] ([SkillRatingID], [ReviewID], [SkillID], [RatingID]) VALUES (1, 1, 3, 3)
INSERT [dbo].[SkillRating] ([SkillRatingID], [ReviewID], [SkillID], [RatingID]) VALUES (2, 1, 4, 3)
INSERT [dbo].[SkillRating] ([SkillRatingID], [ReviewID], [SkillID], [RatingID]) VALUES (3, 1, 5, 3)
GO
SET IDENTITY_INSERT [dbo].[SkillRating] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusID], [StatusType]) VALUES (1, N'Pending')
INSERT [dbo].[Status] ([StatusID], [StatusType]) VALUES (2, N'Rejected')
INSERT [dbo].[Status] ([StatusID], [StatusType]) VALUES (3, N'Cleared')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Name]) VALUES (1, N'Thahseen')
INSERT [dbo].[User] ([UserID], [Name]) VALUES (2, N'HariHaran')
INSERT [dbo].[User] ([UserID], [Name]) VALUES (3, N'Vijay')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([UserRoleID], [RoleID], [UserID]) VALUES (1, 2, 1)
INSERT [dbo].[UserRole] ([UserRoleID], [RoleID], [UserID]) VALUES (2, 2, 2)
INSERT [dbo].[UserRole] ([UserRoleID], [RoleID], [UserID]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
ALTER TABLE [dbo].[Applicant]  WITH CHECK ADD FOREIGN KEY([AppliedFor])
REFERENCES [dbo].[Designation] ([DesignationID])
GO
ALTER TABLE [dbo].[Applicant]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Applicant]  WITH CHECK ADD FOREIGN KEY([ReferedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Interview]  WITH CHECK ADD FOREIGN KEY([ApplicantID])
REFERENCES [dbo].[Applicant] ([ApplicantID])
GO
ALTER TABLE [dbo].[Interview]  WITH CHECK ADD FOREIGN KEY([InterviewRoundID])
REFERENCES [dbo].[InterviewRound] ([InterviewRoundID])
GO
ALTER TABLE [dbo].[Interview]  WITH CHECK ADD FOREIGN KEY([Result])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[InterviewerReview]  WITH CHECK ADD FOREIGN KEY([InterviewID])
REFERENCES [dbo].[Interview] ([InterviewID])
GO
ALTER TABLE [dbo].[InterviewerReview]  WITH CHECK ADD FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[InterviewerReview]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Skill]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[Skill] ([SkillID])
GO
ALTER TABLE [dbo].[SkillRating]  WITH CHECK ADD FOREIGN KEY([RatingID])
REFERENCES [dbo].[Rating] ([RatingID])
GO
ALTER TABLE [dbo].[SkillRating]  WITH CHECK ADD FOREIGN KEY([ReviewID])
REFERENCES [dbo].[InterviewerReview] ([InterviewerReviewID])
GO
ALTER TABLE [dbo].[SkillRating]  WITH CHECK ADD FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skill] ([SkillID])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
/****** Object:  StoredProcedure [dbo].[spAddInterviewer]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--To add interviewer to a particular candidate and interview by checking whether the date is scheduled for the interview and then checking whether the given interviewer is available at the schedule date 


CREATE   PROCEDURE [dbo].[spAddInterviewer]
    @InterviewId INT,
    @UserIdList NVARCHAR(max)
AS
BEGIN

    BEGIN TRY

        DECLARE @UserIdTable TABLE(
            RowId INT IDENTITY(1,1),
            UserId INT
        )

        DECLARE @RowCount INT;
        DECLARE @UserId INT;
        DECLARE @IsInterviewScheduled BIT;
        DECLARE @IsUserFound BIT;

        EXEC @IsInterviewScheduled = spCheckInterviewScheduled @InterviewId

        IF (@IsInterviewScheduled = 0)
            RAISERROR('Interview is not scheduled',16,1)

        INSERT INTO @UserIdTable(UserId)
        SELECT *
        FROM STRING_SPLIT(@UserIdList,',')

        SELECT @RowCount = COUNT(UserId)
        FROM @UserIdTable

        BEGIN TRAN AddInterviewer

        WHILE @RowCount > 0 
        BEGIN

            SELECT @UserId = UserId 
            FROM @UserIdTable
            WHERE RowId = @RowCount

            EXEC @IsUserFound = spCheckUserAvailable @InterviewId,@UserId

            IF(@IsUserFound = 1)
                RAISERROR('some user are not free today',16,1)

            INSERT INTO InterviewerReview(InterviewId,UserId,[Status],isActive) 
            VALUES(@InterviewId,@UserId,1,1)

            PRINT @UserId

            SET @RowCount = @RowCount - 1

        END

        COMMIT TRAN AddInterviewer;

    END TRY
    
    BEGIN CATCH

        ROLLBACK TRAN AddInterviewer
    
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage,
                @ErrorSeverity,
                @ErrorState
                );
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[spCheckInterviewScheduled]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC spUpdateInterviewDate '2021-10-10 10:30:00',27

-- TO check whether the interview is scheduled or not

CREATE   PROCEDURE [dbo].[spCheckInterviewScheduled]
    @InterviewId INT
AS
BEGIN

    DECLARE @IsScheduled BIT

    SET @IsScheduled = 0

    select @IsScheduled = 1
    from interview
    where InterviewId = @InterviewId AND [InterviewAt] IS NOT NULL

    RETURN @IsScheduled

END
GO
/****** Object:  StoredProcedure [dbo].[spCheckUserAvailable]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- To check whether the user is present or not 

CREATE   PROCEDURE [dbo].[spCheckUserAvailable]
    @InterviewId INT,
    @UserId INT
AS
BEGIN

    DECLARE @RowCount INT
    DECLARE @CurrentInterviewId INT
    DECLARE @IsUserPresent BIT

    DECLARE @InterviewIdTable TABLE(
        RowId INT IDENTITY(1,1),
        InterviewId INT
    )

    DECLARE @UserIdTable TABLE(
        RowId INT IDENTITY(1,1),
        UserId INT
    )

    INSERT INTO @InterviewIdTable(InterviewId)  
        SELECT InterviewId 
        FROM Interview 
        WHERE [InterviewAt] = (
            SELECT [InterviewAt]
            FROM Interview 
            WHERE InterviewID = @InterviewId
        )

    SELECT @RowCount = COUNT(InterviewId) 
    FROM @InterviewIdTable

    WHILE(@RowCount > 0)
    BEGIN

        SELECT @CurrentInterviewId = InterviewId FROM @InterviewIdTable WHERE RowId = @RowCount

        PRINT @CurrentInterviewId

        INSERT INTO @UserIdTable(UserID) 
            SELECT UserId 
            FROM InterviewerReview
            WHERE InterviewId = @CurrentInterviewId

        SET @RowCount = @RowCount - 1
        
    END

    SET @IsUserPresent = 0

    SELECT @IsUserPresent=1 FROM @UserIdTable WHERE UserId = @UserId

    PRINT @IsUserPresent

    RETURN @IsUserPresent

END

-- EXEC spCheckUserAvailable 15,5
GO
/****** Object:  StoredProcedure [dbo].[spGetAllCandidate]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spGetAllCandidate]
AS
BEGIN

    with
        TempTable(applicant_id, max_roundID)
        as
        (
            select i.ApplicantID, max(i.InterviewRoundID) as 'RoundId'
            from Interview i
            group by (i.ApplicantID)
        )
    select A.applicantId, A.FirstName, A.LastName, D.Designation as AppliedFor, UI.Name As InterviewedBy, IRound.[RoundOrder] as CurrentRound, I.[InterviewAt] as InterviewAt, S.StatusType as [Status]
    from TempTable tt
        join Interview I
        on I.ApplicantID = tt.applicant_id and tt.max_roundID = I.InterviewRoundID
        INNER JOIN InterviewerReview IR ON IR.InterviewID = I.InterviewID
        INNER JOIN Applicant A ON A.ApplicantID = tt.applicant_id
        INNER JOIN Designation D ON D.DesignationID = A.AppliedFor
        INNER JOIN InterviewRound IRound ON IRound.InterviewRoundID = I.InterviewRoundID
        JOIN STATUS S ON S.StatusID = I.Result
        JOIN [User] UI ON UI.UserId = IR.UserID

END
GO
/****** Object:  StoredProcedure [dbo].[spRejectCandidate]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--To reject the candidate 
CREATE   PROCEDURE [dbo].[spRejectCandidate]
    @InterviewId INT
AS
BEGIN

    DECLARE @StatusId TINYINT

    SELECT @StatusId = StatusId FROM [Status] WHERE StatusType = 'rejected'

    UPDATE Interview SET Result = @StatusId WHERE InterviewId = @InterviewId

END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateInterviewDate]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC spGetAllCandidate

CREATE   PROCEDURE [dbo].[spUpdateInterviewDate]
    @InterviewAt DATETIME,
    @InterviewId INT
AS
BEGIN

    UPDATE Interview SET [InterviewAt]=@InterviewAt WHERE InterviewId = @InterviewId

END
GO
/****** Object:  StoredProcedure [dbo].[uspAddApplicant]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Add Applicant

CREATE   PROC [dbo].[uspAddApplicant]
	@UserId int
,
	@FirstName varchar(30)
,
	@LastName varchar(30)
,
	@LastEmployer nvarchar(20)
,
	@LastDesignation nvarchar(30)
,
	@AppliedFor int
,
	@ReferedBy int
,
	@MedicalStatus nvarchar(150)
,
	@NoticePeriod int
,
	@Resume VARCHAR(200)
as
BEGIN
	BEGIN TRY
		Begin Tran InsertApplicant
	
			Declare @NewApplicantId int
			Declare @FirstRoundId int

			Insert Into Applicant
		( FirstName
		,LastName
		,LastEmployer
		,LastDesignation
		,AppliedFor
		,ReferedBy
		,MedicalStatus
		,NoticePeriod
		,CreatedBy
		,CreatedOn
		,IsActive
		,IsDeleted
		,[Resume]
		)
	Values(@FirstName
									, @LastName
									, @LastEmployer
									, @LastDesignation
									, @AppliedFor
									, @ReferedBy
									, @MedicalStatus
									, @NoticePeriod
									, @UserId
									, GetDate()
									, 'true'
									, 'false'
									, @Resume
									)
	
			If (@@ROWCOUNT = 0)
			BEGIN
		ROLLBACK TRAN InsertApplicant;
		RAISERROR('Cannot add applicant',16,6)
	END
	
			Select @NewApplicantId = SCOPE_IDENTITY();

			Exec @FirstRoundId = uspGetRoundId 1;
	
			Insert Into Interview
		(ApplicantID, InterviewRoundID, Result)
	Values(@NewApplicantId, @FirstRoundId, 1);
	
			If (@@ROWCOUNT = 0)
			BEGIN
		ROLLBACK TRAN InsertApplicant;
		RAISERROR('Cannot assign Interview',16,6)
	END

			Commit Tran InsertApplicant
	END TRY
	BEGIN CATCH

		RollBack Tran InsertApplicant

	    DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		Select
		@ErrorMessage = ERROR_MESSAGE(),
		@ErrorSeverity = ERROR_SEVERITY(),
		@ErrorState = ERROR_STATE();

			RAISERROR (@ErrorMessage
						,@ErrorSeverity
						,@ErrorState
						);
	END CATCH
END

-- exec uspAddApplicant 1,'Hannah','Baker','ABC Company','Dev', 2, '',2, 1, 'hello' ;
GO
/****** Object:  StoredProcedure [dbo].[uspGetApplicant]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[uspGetApplicant]
	@Id int
as
Begin
	Select ap.ApplicantID
		,(ap.FirstName + ' ' + ap.LastName) as 'Name'
		,d.Designation
		,ap.LastEmployer
		,ap.MedicalStatus
		,ap.NoticePeriod
		,JSON_QUERY((
			Select i.InterviewRoundID
			,s.StatusType as [Result]
			,JSON_QUERY((
				Select ird.InterviewRoundName
				,JSON_QUERY((
					Select irv.InterviewerReviewID
							,irv.UserID
							,irv.Pros
							,irv.Cons
							,irv.Comments
							,irv.[Status]
							,JSON_QUERY((
								Select u.[Name] as 'Interviewer Name'
								,JSON_QUERY((
									Select skr.RatingID
									,JSON_QUERY((
										Select sk.SkillID
												,sk.[Name]
												,skcat.[Name] as 'Skill Category Name'
										from Skill sk
										join Skill skcat
										on sk.ParentID = skcat.SkillID AND skr.SkillID = sk.SkillID
										for json path
									)) as 'skill_rating'
									from SkillRating skr
									where irv.InterviewerReviewID = skr.ReviewID
									for json path
								)) as 'skill_rating'
									from [User] u
									where irv.UserID = u.UserID
									for json path
							)) as 'interviewer_name'
					from InterviewerReview irv
					where i.InterviewID = irv.InterviewID
					for json path
				)) as 'review'
				from InterviewRound ird
				where i.InterviewRoundID = ird.InterviewRoundID
				for json path
			)) as 'round_name'
			from Interview i
			join [Status] s
			on i.Result = s.StatusID
			Where ap.ApplicantID = i.ApplicantID
			for Json path
		)) as [Interview]
		from Applicant ap
		join Designation d
		on ap.AppliedFor = d.DesignationID and ap.ApplicantID = @Id
End
exec uspGetApplicant 1
GO
/****** Object:  StoredProcedure [dbo].[uspGetApplicantById]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[uspGetApplicantById]
	@Id int
as
Begin

	If (@Id is not null)
		Begin
		Select ap.ApplicantID
			,(ap.FirstName + ' ' + ap.LastName) as 'Name'
			,d.Designation
			,ap.LastEmployer
			,ap.MedicalStatus
			,ap.NoticePeriod
			,i.InterviewID
			,i.InterviewRoundID
			,s.StatusType as 'Result'
			,ird.InterviewRoundName
			,irv.InterviewerReviewID
			,irv.UserID
			,u.[Name] as 'Interviewer Name'
			,irv.Pros
			,irv.Cons
			,irv.Comments
			,irv.[Status]
			,sk.ParentID as 'Skill Category Id'
			,skcat.[Name] as 'Skill Category Name'
			,sk.SkillID
			,sk.[Name]
			,skr.RatingID
			from Applicant ap
			join Interview i
			on ap.ApplicantID = i.ApplicantID And ap.ApplicantID = @Id
			join InterviewRound ird
			on i.InterviewRoundID = ird.InterviewRoundID
			join InterviewerReview irv
			on i.InterviewID = irv.InterviewID
			join [User] u
			on irv.UserID = u.UserID
			join SkillRating skr
			on irv.InterviewerReviewID = skr.ReviewID
			join Skill sk
			on skr.SkillID = sk.SkillID
			join Skill skcat
			on sk.ParentID = skcat.SkillID
			join Designation d
			on ap.AppliedFor = d.DesignationID
			join [Status] s
			on i.Result = s.StatusID
	End
		Else
		Begin
		Select 'Id should not be null'
	End
End

	-- exec uspGetApplicantById 2
GO
/****** Object:  StoredProcedure [dbo].[uspGetInterviewer]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[uspGetInterviewer]
	@InterviewAt date
as
BEGIN
	Select u.[Name]
	from [User] u
	Where u.UserID not in (
					Select ir.UserID
	from InterviewerReview ir
		join Interview i
		on ir.InterviewID = i.InterviewID And i.InterviewAt = @InterviewAt
					)
End
GO
/****** Object:  StoredProcedure [dbo].[uspGetNextRoundId]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROC [dbo].[uspGetNextRoundId]
	@ApplicantId int,
	@InterviewId int
as
BEGIN
	Declare @CurrentRoundId int

	Select @CurrentRoundId = InterviewRoundID
	from Interview
	Where InterviewID = @InterviewId AND ApplicantID = @ApplicantId

	Declare @NextRoundId tinyint

	Exec @NextRoundId = uspNextRound @CurrentRoundId

	RETURN @NextRoundId
END 
GO
/****** Object:  StoredProcedure [dbo].[uspGetRoundId]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Promote Applicant


CREATE   PROC [dbo].[uspGetRoundId]
	@RoundOrder TINYINT
as
BEGIN
	DECLARE @RoundId TINYINT

	Select @RoundId = InterviewRoundID
	from InterviewRound
	Where RoundOrder = @RoundOrder

	RETURN @RoundId
End
GO
/****** Object:  StoredProcedure [dbo].[uspNextRound]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[uspNextRound]
	@CurrentRoundId tinyint
as
BEGIN

	DECLARE @NextRound TINYINT
	DECLARE @NextRoundId TINYINT

	Select @NextRound = (RoundOrder+1)
	from InterviewRound i
	where InterviewRoundID = @CurrentRoundId

	EXEC @NextRoundId = uspGetRoundId @NextRound;

	RETURN @NextRoundId
END
GO
/****** Object:  StoredProcedure [dbo].[uspPromoteApplicant]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROC [dbo].[uspPromoteApplicant]
	@ApplicantId int,
	@InterviewId int
as
BEGIN
	BEGIN TRY
    BEGIN TRAN Promote
        If(@ApplicantId is null OR @InterviewId is null)
        BEGIN
		RAISERROR('Id should not be null',16,6);
	END

        --Promote ( set status cleared)
        Update Interview
        Set Result = 3
        Where ApplicantID = @ApplicantId and InterviewID = @InterviewId

        If(@@ROWCOUNT = 0)
        BEGIN
		ROLLBACK TRAN Promote
		RAISERROR('Promote failed',16,6)
	END

        --Get next round Id

        DECLARE @NextRoundId TINYINT

        EXEC @NextRoundId = uspGetNextRoundId @ApplicantId, @InterviewId;

        --Insert next round deatils into the Interview Table

        Insert Into Interview
		(ApplicantID, InterviewRoundID)
	Values
		(@ApplicantId, @NextRoundId)

        If(@@ROWCOUNT = 0)
        BEGIN
		ROLLBACK TRAN Promote
		RAISERROR('Cannot assign next round',16,6)
	END
        Commit TRAN Promote
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN Promote
        
        DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		Select
		@ErrorMessage = ERROR_MESSAGE(),
		@ErrorSeverity = ERROR_SEVERITY(),
		@ErrorState = ERROR_STATE();

			RAISERROR (@ErrorMessage
						,@ErrorSeverity
						,@ErrorState
						);
	END CATCH
END


-- EXEC uspPromoteApplicant 9,32
GO
/****** Object:  StoredProcedure [dbo].[uspUpdateApplicant]    Script Date: 10-11-2021 17:19:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Edit Applicant


CREATE   PROC [dbo].[uspUpdateApplicant]
	@ApplicantId int
,
	@UserId int
,
	@FirstName nvarchar(24)
,
	@LastName nvarchar(24)
,
	@LastEmployer nvarchar(50)
,
	@LastDesignation nvarchar(20)
,
	@AppliedFor int
,
	@ReferedBy int
,
	@MedicalStatus nvarchar(150)
,
	@NoticePeriod int
as
BEGIN
	BEGIN TRY	
			Declare @NewApplicantId int
			Declare @FirstRoundId int

            UPDATE Applicant
            SET FirstName = @FirstName
                ,LastName = @LastName
                ,LastEmployer = @LastEmployer
                ,LastDesignation = @LastDesignation
                ,AppliedFor = @AppliedFor
                ,ReferedBy = @ReferedBy
                ,MedicalStatus = @MedicalStatus
                ,NoticePeriod = @NoticePeriod
                ,ModifiedBY = @UserId
                ,ModifiedOn = GETDATE()
            Where ApplicantID = @ApplicantId
	
			If (@@ROWCOUNT = 0)
			BEGIN
		RAISERROR('Cannot add applicant',16,6)
	END

	END TRY
	BEGIN CATCH

	    DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		Select
		@ErrorMessage = ERROR_MESSAGE(),
		@ErrorSeverity = ERROR_SEVERITY(),
		@ErrorState = ERROR_STATE();

			RAISERROR (@ErrorMessage
						,@ErrorSeverity
						,@ErrorState
						);
	END CATCH
END

-- exec uspUpdateApplicant 9,2,'Tomato','Veg','ABC Company','Juoir Developer',1,'Null',1
GO
